/*  Content Page */

.bg-content{
	background: #edece5 url('../images/project.jpg') no-repeat scroll;
	background-position: center top;
	min-height:820px;
}

#contentHeader h1{
	 margin:0;
	 font-family: Helvetica, Arial, sans-serif;
	 line-height: 120%;
	 color: #FFFFFF;
	 font-size: 500%;
	 font-weight: 600;
}

#contentHeader{
	padding-top:28px;
	padding-left:10px;
	min-height:92px;	
}

#contentMain{
	background-color: #edece5;
	padding: 30px;
}

#projectHeaderBg {
	width: 648px;
	height: 314px;
	float: left;
	background: url('../images/ph-backgroud.jpg');
	background-repeat: no-repeat;
}

#contentAbstract{
	min-height: 314px;
	padding-left:10px;
}

#contentAbstract a{
	display:block;
	width: 271px;
	height: 78px;
	background-repeat: no-repeat;
}

.buttnAbstract{
	width: 271px;
	height: 78px;
	background-repeat: no-repeat;
}


#projectLogoCong {
	width: 50px;
	height: 268px;
	padding-top: 46px;
	padding-left: 10px;
	float: left;
	background-color: #eae5e0;
}


#projectMenuSchool a {
	background: url('../images/za-uchenici.jpg');
}

#projectMenuSchool a:hover {
	background: url('../images/za-uchenici-roll.jpg');
}

#projectMenuStudent a{
	background: url('../images/za-studenti.jpg');

}

#projectMenuStudent a:hover{
	background: url('../images/za-studenti-roll.jpg');

}

#projectMenuPrepo a{
	background: url('../images/za-prepodavateli.jpg');
}

#projectMenuPrepo a:hover{
	background: url('../images/za-prepodavateli-roll.jpg');
}

#projectMenuBusiness a {
	height: 80px;
	background: url('../images/za-biznesa.jpg');
}

#projectMenuBusiness a:hover {
	height: 80px;
	background: url('../images/za-biznesa-roll.jpg');
}

/* Content Page END*/