/*  Content Page */

.bg-content{
	background: #edece5 url('../images/project.jpg') no-repeat scroll;
	background-position: center top;
	min-height:820px;
}

#contentHeader h1{
	 margin:0;
	 font-family: Helvetica, Arial, sans-serif;
	 line-height: 115%;
	 color: #FFFFFF;
	 font-weight: 600;
}

#contentHeader{
	padding-top:28px;
	padding-left:10px;
	min-height:92px;	
}

.singlepost{
	font-size: 300%;
}

.singlepage{
	font-size: 500%;
}

.singlearticle {
  position: relative;
  width: 93%;
  padding: 2em 1.5em;
  margin: 10px auto;
  color: #333;
  background: #f5f5f5;
  overflow: hidden;
}

.singlearticle:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-width: 0 55px 55px 0;
  border-style: solid;
  border-color: #edece5 #edece5 #b8b8b8 #b8b8b8;
  background: #f5f5f5;
  -webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
  -moz-box-shadow: 0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
  box-shadow: 0 1px 1px rgba(0,0,0,0.3), -1px 1px 1px rgba(0,0,0,0.2);
  /* Firefox 3.0 damage limitation */
  display: block; width: 0;
}

.articledetails{
	position: absolute;
	bottom: 0;
	left: 0;
	padding-left: 30px;
	margin: 0 auto;
	display: block;
	background-color: #b8b8b8;
	width: 100%;
	line-height: 175%;
}

.artbit{
 margin-top:2px;
 margin-bottom:2px;
 margin-left:3px;
 margin-right:5px;
}

#contentList{
 min-height:320px;
}

#projectHeaderBg {
	width: 648px;
	height: 314px;
	float: left;
	background: url('../images/ph-backgroud.jpg');
	background-repeat: no-repeat;
}

#contentAbstract{
	min-height: 314px;
	padding-left:10px;
}

#contentAbstract a{
	display:block;
	width: 271px;
	height: 78px;
	background-repeat: no-repeat;
}

.buttnAbstract{
	width: 271px;
	height: 78px;
	background-repeat: no-repeat;
}


#projectLogoCong {
	width: 50px;
	height: 268px;
	padding-top: 46px;
	padding-left: 10px;
	float: left;
	background-color: #eae5e0;
}


#projectMenuSchool a {
	background: url('../images/za-uchenici.jpg');
}

#projectMenuSchool a:hover {
	background: url('../images/za-uchenici-roll.jpg');
}

#projectMenuStudent a{
	background: url('../images/za-studenti.jpg');

}

#projectMenuStudent a:hover{
	background: url('../images/za-studenti-roll.jpg');

}

#projectMenuPrepo a{
	background: url('../images/za-prepodavateli.jpg');
}

#projectMenuPrepo a:hover{
	background: url('../images/za-prepodavateli-roll.jpg');
}

#projectMenuBusiness a {
	height: 80px;
	background: url('../images/za-biznesa.jpg');
}

#projectMenuBusiness a:hover {
	height: 80px;
	background: url('../images/za-biznesa-roll.jpg');
}

.wpcf7-text, .wpcf7-textarea{
 width:100%;
}

.clionba {
	float: left;
	padding-right: 10px;
	padding-bottom: 40px;
}
/* Content Page END*/