/*  Content Page */

.bg-content{
	background: #F8821B url('../images/project_page.jpg') no-repeat scroll;
	background-position: center top;
	min-height:820px;
}

.homebtn {
	width: 218px;
	height: 55px;
	margin-top: 259px;
	display:block;
}

#contentHeader h1{
	 margin:0;
	 font-family: Helvetica, Arial, sans-serif;
	 line-height: 120%;
	 color: #999;
	 font-size: 420%;
	 font-weight: 600;
}

#ForProject a{
	background: url('../images/forpro.jpg');
}

#ForProject a:hover{
	background: url('../images/forpro-roll.jpg');
}	

#Partners a{
	background: url('../images/partners-bot.jpg');
}

#Partners a:hover{
	background: url('../images/partners-roll.jpg');
}

#RoadMap a{
	background: url('../images/drivemap-bot.jpg');
}

#RoadMap a:hover{
	background: url('../images/drivemap-bot-roll.jpg');
}
/* Content Page END*/