/*  Home Page */

.bg-home{
	background: #F8821B url('../images/page.jpg') no-repeat scroll;
	background-position: center top;
	min-height:820px;
}

.home-col-1-1{
	background: url('../images/main-section-4_1.png');
	background-repeat: no-repeat;
	width:314px;
	height:314px;
	display:block;
	margin-left:18px;
}

.home-col-2-1{
	background: url('../images/VC_cognita_konkursi_14.png');
	background-repeat: no-repeat;
	width:314px;
	height:314px;
	display:block;
	margin-left:18px;
}

.home-col-3-1{
	background: url('../images/main-section-6.jpg');
	background-repeat: no-repeat;
	width:314px;
	height:314px;
	display:block;
	margin-left:18px;
}

.home-col-1-2{
	background: url('../images/53f64.jpg');
	background-repeat: no-repeat;
	width:314px;
	height:314px;
	display:block;
	margin-left:18px;
}

.home-col-2-2{
	background: url('../images/roadmap_sq_1.png');
	background-repeat: no-repeat;
	width:314px;
	height:314px;
	display:block;
	margin-left:18px;
}

.home-col-3-2{
	width:314px;
	height:314px;
	display:block;
	margin-left:18px;
}

div#grid{
	text-align:center;
}

div#SecondRow{
	clear:both;
	padding-top:18px;
	padding-left: 1px;
	min-height:314px;
}

div#FirstRow{
	clear:both;
	padding-top:60px;
	padding-left: 1px;
	min-height:314px;
}

.homebtn {
	width: 218px;
	height: 55px;
	margin-top: 259px;
	display:block;
}

#ForProject a{
	background: url('../images/forpro.jpg');
}

#ForProject a:hover{
	background: url('../images/forpro-roll.jpg');
}	

#Partners a{
	background: url('../images/partners-bot.jpg');
}

#Partners a:hover{
	background: url('../images/partners-roll.jpg');
}

#RoadMap a{
	background: url('../images/drivemap-bot.jpg');
}

#RoadMap a:hover{
	background: url('../images/drivemap-bot-roll.jpg');
}

h2 {
	 font-weight: 100;
	 margin: 15px 0 5px 0;
	  font-family: 'Helvetica Neue', Helvetica, 'Arial Condensed', Arial, sans-serif;
	 line-height: 100%;
	 color: #FFFFFF;
	  font-size: 150%;
	 border-bottom: 0;
	 padding-bottom:0;
	 padding-left: 24px;
	 text-align: left;
}

.front_page_news_body{
	 text-align: justify;
	 padding: 24px;
}

.front_page_more_text{
	text-align: right;
}

.front_page_news_thumb{
 float: right;
 padding-right: 5px;
 margin-left: 5px;
}

.front_page_news_date{
font-size:9px;
}
.news_2layer {
    width:314px;
    height:314px;
    top: 0;
    left: 0;
	position:absolute;
	background: url('../images/midnight_blue.png');
}

#NewsContent:hover{
	opacity:0;
}

#NewsContent a{
	color:#FFFFFF;
}

#NewsContainer {
position:absolute;
width:314px;
height:314px;
}

/* Home Page END*/