/*  Home Page */

.bg-home{
	background: #F8821B url('../images/page.jpg') scroll;
	background-position: center top;
	min-height:820px;
}

.home-col-1-1{
	background: url('../images/main-section-4_1.png');
	background-repeat: no-repeat;
	width:314px;
	height:314px;
	display:block;
	margin-left:18px;
}

.home-col-2-1{
	width:314px;
	height:314px;
	display:block;
	margin-left:18px;
}

.home-col-3-1{
	background: url('../images/main-section-6.jpg');
	background-repeat: no-repeat;
	width:314px;
	height:314px;
	display:block;
	margin-left:18px;
}

.home-col-1-2{
	background: url('../images/pictionblue.png');
	background-repeat: no-repeat;
	width:314px;
	height:314px;
	display:block;
	margin-left:18px;
	position: relative;
}

.home-col-2-2{
	background: url('../images/roadmap_sq_1.png');
	background-repeat: no-repeat;
	width:314px;
	height:314px;
	display:block;
	margin-left:18px;
}

.home-col-3-2{
	background: url('../images/wysteria.png');
	background-repeat: no-repeat;
	width:314px;
	height:314px;
	display:block;
	margin-left:18px;
}

div#grid{
	text-align:center;
}

div#SecondRow{
	clear:both;
	padding-top:18px;
	padding-left: 1px;
	min-height:314px;
}

div#FirstRow{
	clear:both;
	padding-top:60px;
	padding-left: 1px;
	min-height:314px;
}

div#ThirdRow{
	clear:both;
	padding-top:20px;
	padding-left: 1px;
	min-height:314px;
}
div#Competition{
	background-color: #F1C40F;
	margin-left:17px;
	margin-right:3px;
	min-height:314px;
}

div#thmbCompetition{
	width:314px;
	height:314px;
	background: url('../images/VC_cognita_konkursi_14.png');
	background-repeat: no-repeat;
}
.homebtn {
	width: 218px;
	height: 55px;
	margin-top: 259px;
	display:block;
}

#ForProject a{
	background: url('../images/forpro.jpg');
}

#ForProject a:hover{
	background: url('../images/forpro-roll.jpg');
}	

#Partners a{
	background: url('../images/partners-bot.jpg');
}

#Partners a:hover{
	background: url('../images/partners-roll.jpg');
}

#RoadMap a{
	background: url('../images/drivemap-bot.jpg');
}

#RoadMap a:hover{
	background: url('../images/drivemap-bot-roll.jpg');
}

#fpSubscription a{
	background: url('../images/btn-mailing.png');
}

#fpSubscription a:hover{
	background: url('../images/btn-mailing.png');
}	

h2 {
	 font-weight: 100;
	 margin: 15px 10px 5px 0;
	  font-family: 'Helvetica Neue', Helvetica, 'Arial Condensed', Arial, sans-serif;
	 line-height: 100%;
	 color: #FFFFFF;
	  font-size: 150%;
	 border-bottom: 0;
	 padding-bottom:0;
	 padding-left: 24px;
	 text-align: left;
}

h3 {
	 color: #FFFFFF;
}

#cntCompetition h2{
	 text-align: center;
	 padding-top:10px;
	 margin: 0 10px 5px 0;
	 font-size: 2.0em;
}

#cntCompetition p{
	 color: #FFFFFF;
}

#cntCompetition a{
	 color: #FFFFFF;
	 text-decoration: overline;
}

#cntCompetition a:hover{
	 color:#f39c12;
	 text-decoration: overline;
}


.brdrBtmDashed{
border-bottom-color: #FFFFFF;
border-bottom: 4px dashed;
line-height: 280%;
}
.front_page_news_body{
	 text-align: justify;
	 padding: 24px;
}

.front_page_more_text{
	text-align: right;
}

.front_page_news_thumb{
 float: right;
 padding-right: 5px;
 margin-left: 5px;
}

.front_page_news_date{
font-size:9px;
}
.news_2layer {
    width:314px;
    height:314px;
    top: 0;
    left: 0;
	position:absolute;
	background: url('../images/midnight_blue.png');
}

#NewsContent:hover{
	opacity:0;
}

#NewsContent a{
	color:#FFFFFF;
}

#NewsContainer {
position:absolute;
width:314px;
height:314px;
}


.frontpage-loginform{
width:314px;
height:314px;
text-align:right;
}

#loginform {
margin-top:9px;
margin-right:50px;
}

#RegLinks {
	margin-top:0px;
	text-align:center;
}

/* Basic Grey */

.frontpage-loginform h1 {
    font: 25px Georgia, "Times New Roman", Times, serif;
    padding: 0px 0px 10px 40px;
    display: block;
    border-bottom: 1px solid #DADADA;
    margin: -10px -30px 30px -30px;
    color: #888;
}

.frontpage-loginform p{
	margin-bottom:0.9em;
}
.basic-grey h1>span {
    display: block;
    font-size: 11px;
}
.frontpage-loginform label {
	display: block;
	margin: 0px 47px 5px;
	text-align: left;
	width: 100%;
	color:#fff
}

.frontpage-loginform input[type="text"], .frontpage-loginform input[type="password"], .frontpage-loginform textarea, .frontpage-loginform select{
    border: 1px solid #DADADA;
    color: #888;
    height: 24px;
    margin-bottom: 0px;
    margin-right: 6px;
    margin-top: 2px;
    outline: 0 none;
    padding: 3px 3px 3px 5px;
    width: 74%;
    font: normal 12px/12px Georgia, "Times New Roman", Times, serif;
}
#rememberme {
    border: 1px solid #DADADA;
    color: #888;
    height: 24px;
	height:36px;
	width:36px;
	background: #FFFFFF;
	cursor:pointer;
}


.frontpage-loginform .button-primary {
    background: #2969B0;
    border: none;
    padding: 10px 25px 10px 25px;
    color: #FFF;
	cursor:pointer;
}
.frontpage-loginform .button-primary:hover {
    background: #2C82C9;
}
.frontpage-loginform a{
	color:#FFFFFF;
}
.frontpage-loginform a:hover{
	color:#2C82C9;
}

.profile-fp{
	margin-right:20px;
	color:#FFFFFF;
}

.mainProfile{
	 text-align: justify;
	 margin-top:10px;
	 min-height:200px;
	 margin-left:20px;
}

#hdrProfile{
min-height:80px;
}
/* Home Page END*/