/* Default CSS */
@import url(reset.css);

/*------------------ STANDARD STYLING -------------------*/

header{

    margin: 0 auto;
    background-repeat: no-repeat;
    height: 64px;
    position: relative;
    background-image: url('../images/header.jpg');
    background-position: center top;

}

div.logo{
    width: 200px;
    float: left;
	line-height: 64px;
}

/* Main Menu*/
#mainNav ul
{
    list-style-type:none;
    margin:0;
    padding:0;
    overflow:hidden;
    display: inline-block;
    vertical-align: bottom;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 13px;
    font-family: Tahoma, 'Tahoma Unicode MS', Helvetica, Sans-Serif;
    font-weight: normal;
    font-style: normal;
}

#mainNav li
{
    position: relative;
    z-index: 5;
    display: block;
    float: left;
    background: none;
    margin: 0;
    padding: 0;
    border: 0;
}

#mainNav a{
    display: block;
    text-align: left;
    text-decoration:none;
    text-transform:uppercase;
    margin: 0 auto;
    padding: 0 17px;
    color: #FFFFFF;
    line-height: 34px;
}

#mainNav a:hover
{
    background-color: #FA681E;
    color: #FFF5F0;
}

/* Main Menu END*/

/* Social Menu*/
div .mnuTopSoc
{
	margin:0;
	padding:0;
	display: inline-block;
	height: 64px;
}

#mnuTopSoc ul
{
    list-style-type:none;
    margin:0;
    padding:0;
    overflow:hidden;
    display: inline-block;
}

#mnuTopSoc li
{
	display: block;   
	background: none;
	width: 66px;
	height: 64px;
	float: left;
}

#mnuTopSoc a{
    display: block;
    text-align: center;
    text-decoration:none;
    margin: 0 auto;
}

#mnuTopSoc a:hover
{
    background-color: #FFFFFF;
}

/* Social Menu END*/

/* Top Menu*/
 div .mnuTop
{
	margin:0;
	padding:0;
	display:block;
	float:left;
}

#mnuTop ul
{
    list-style-type:none;
    margin:0;
    padding:0;
    overflow:hidden;
    display: inline-block;
}

#mnuTop li
{
	display: block;   
	background: none;
	line-height: 60px;
	float: left;
}

#mnuTop a{
    display: block;
    text-align: center;
    text-decoration:none;
    text-transform:uppercase;
	color: #0D7E93;
	padding-left: 20px;
    padding-right: 20px;
    font-size: 14px;
    font-family: Tahoma, 'Tahoma Unicode MS', Helvetica, Sans-Serif;
    font-weight: bold;
    font-style: normal;
    margin: 0 auto;
}

#mnuTop a:hover
{
	color: #FA681E;
} */

/* Top Menu END*/


#across{

 margin: 0;

 width:100%;

}/*for a stretched bottom only*/


h2.thisMonth{

 font-size: 260%;

}

.content{

 margin-top: 250px;

}

.sidebar{

 margin-top: 150px;

}

.sidebar div{

 margin-top: 30px;

 padding-bottom: 10px;

}

.sidebar h2{

 margin-left:20px;

}